<form action="/create" method="POST">
<h2>Добавить список дел</h2>

<div class ="input-field">
    <input type = "text" name="title">
    <label>Что хотите сделать?</label>
</div>

<button type ="submit" class="btn">Добавить</button>
</form>
